*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:3rem;
    min-height:3rem;
}

.top-nav  ul {
    list-style: none;
}

.top-nav a {
    text-decoration: none; 
    /* color:rgb(252, 227, 8); */
    color:#f4ce14;
    padding: 10px 30px;
}

.top-nav a:hover {
    
    color: antiquewhite;
} 

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    /* background: linear-gradient(to left, #214900ef, #ffe5511e); */
    background: linear-gradient(to left, #495e57, #f4cf142c);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
        z-index:1000;
      position: absolute;
      top: 50px;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }



/* nav {
display: flex;
justify-content: space-between;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:5rem;
    min-height:5rem;
}

nav  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a:link {
    text-decoration: none;
    color: rgb(5, 107, 5);
    padding: 10px 50px;

}

nav a:hover {
    background-color: green;
    color: antiquewhite;
} */


   

main > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    margin-bottom:3%;
    color:#f4ce14;
    box-shadow:in 0px 0px 2px #fffae2,
    0px 0px 4px #f1eac3,
    0px 0px 6px #fff6c8,
    0px 0px 8px #fff3b4,
    0px 0px 10px #f5e48f;
}

main img {
    max-width:100%;
    min-height: 100%;
}

.gallery {
    background: #EEE;
    margin-bottom: 5%;
  }
  
  .gallery-cell {
    width: 50vw;
    height: 30vh;
    margin-left: 10px;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: "";
    line-height: 200px;
    font-size: 80px;
    color: white;
  }



section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    gap: 5%;
}

article {
    flex:1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10%;
}
footer div {
    flex: 1;
}

footer img {
    width:10%;
}


@media screen and (min-width:880px) {

    .gallery-cell {
        width: 70vw;
        height: 70vh;
        margin-left: 10px;
        counter-increment: gallery-cell;
      }
  }
