*{
    margin:0;
    padding:0;
}
body {
    background-color: #ededed;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: ;
}
header {
margin-left: auto;
margin-right: auto;
width:50%;
}